<section class="content-header">
  <h1>Manifest</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header"></div>
    <form class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Manifest No</label>
          <div class="col-sm-4">
            <input type="text" [(ngModel)]="manifest_no" class="form-control" placeholder="Manifest No" name="manifest_no">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Start Date</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" [(ngModel)]="s_date" class="form-control" name="s_date" bsDatepicker #dp1="bsDatepicker"
                [bsConfig]="{ containerClass: 'theme-blue', dateInputFormat: 'YYYY-MM-DD' }">
              <div class="input-group-btn">
                <button class="btn btn-default" (click)="dp1.show()" [attr.aria-expanded]="dp1.isOpen">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">End Date</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input type="text" [(ngModel)]="e_date" class="form-control" name="e_date" bsDatepicker #dp2="bsDatepicker"
                [bsConfig]="{ containerClass: 'theme-blue', dateInputFormat: 'YYYY-MM-DD' }">
              <div class="input-group-btn">
                <button class="btn btn-default" (click)="dp2.show()" [attr.aria-expanded]="dp2.isOpen">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <button type="button" class="btn btn-primary" (click)="onSubmit()"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="box">
    <div class="box-body">
      <div class="text-center" *ngIf="isEmpty(list)">
        <h4 class="box-title">No records found</h4>
      </div>
      <div class="table-responsive" *ngFor="let o of list">
        <div>
          <label class="col-sm-2 control-label">Manifest No:</label>
          <div class="col-sm-4"><b>{{ o.manifest_no }}</b></div>
          <div class="pull-right">
            <button *ngIf="!o.is_close" type="button" class="btn btn-success" (click)="onConfirmClose(confirm_close, o)">Manifest CLOSE</button>
            <button type="button" class="btn btn-info">Print</button>
          </div>
        </div>
        <table class="table table-bordered table-condensed table-striped table-hover" *ngIf="!isEmpty(o['list-consignment'])">
          <thead>
            <tr>
              <th>Consignment No</th>
              <th>PCS</th>
              <th class="text-center">Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of o['list-consignment']">
              <td>{{ x.consignment }}</td>
              <td>{{ x.pcs }}</td>
              <td class="text-center">{{ x.is_confirm ? 'CONFIRM': 'NOT CONFIRM' }}</td>
              <td>
                <button type="button" class="btn" (click)="onConfirmCloseManifest(x, o)" [ngClass]="{ 'btn-success': !x.is_confirm, 'btn-danger': x.is_confirm }">{{ x.is_confirm ? 'Unconfirm': 'Confirm' }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="overlay" *ngIf="isloading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>

  <ng-template #confirm_close>
    <div class="modal-header">
      <h4 class="modal-title text-center">Close Manifest</h4>
    </div>
    <div class="modal-body text-center">
      <p>{{ selectedManifest.manifest_no }}</p>
      <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="_onConfirmClose()">Yes</button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">No</button>
    </div>
  </ng-template>
</section>