<section class="content-header">
  <h1>Company</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Company Listing</h3>
      <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
          <button type="button" class="btn btn-primary" (click)="onCreateNew()" *ngIf="user.role === ROLE.ADMIN"><i class="fa fa-plus"></i> Create New</button>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-flat" (click)="isCardView = false"><i class="fa fa-th-list"></i></button>
            <button type="button" class="btn btn-default btn-flat" (click)="isCardView = true"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 pull-right">
          <div class="input-group">
            <input type="text" [(ngModel)]="search" (keyup)="onSearchDbKeyup($event)" (keydown.enter)="onSearchKeypress($event)" name="q" class="form-control"
              placeholder="Search...">
            <span class="input-group-btn">
              <button type="button" name="search" class="btn btn-flat" (click)="onSearch()"><i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="box-body">
      <div class="text-center" *ngIf="isEmpty(list)">
        <h4 class="box-title">No records found</h4>
      </div>
    </div>

    <div class="overlay" *ngIf="isloading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>

  <div class="box" *ngIf="!isEmpty(list) && !isCardView">
    <div class="box-body">
      <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Code</th>
              <th>Company Name</th>
              <th>Details</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of list; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ o.account_code }}</td>
              <td>{{ o.company_name }}</td>
              <td>
                <a href="#" (click)="onViewDetails(o)">View</a>
              </td>
              <td>
                <a href="#" (click)="onViewUser(o)">View</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!isEmpty(list) && isCardView">
    <div class="col-md-3" *ngFor="let o of list">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">{{ o.account_code }}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" title="Company Details" (click)="onViewDetails(o)">
              <i class="fa fa-eye"></i>
            </button>
            <button type="button" class="btn btn-box-tool" title="Users" (click)="onViewUser(o)">
              <i class="fa fa-user-circle"></i>
            </button>
          </div>
        </div>
        <div class="box-body">
          <span class="info-box-text">{{ o.company_name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="box" *ngIf="itemsCount">
    <div class="box-header">
      <div class="pull-right">
        <pagination [totalItems]="itemsCount" [itemsPerPage]="PAGE_SIZE" [maxSize]="MAX_PAGE_NUMBERS" [(ngModel)]="page" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </div>
</section>
