<div class="register-page-1">
  <div class="register-box-1">
    <div class="register-logo">
      <span class="logo-lg">
        <img src="assets/img/FMXLOGO.png" alt="logo_image" style="width: 100px;">
      </span>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Register</p>

      <form [formGroup]="mform" (ngSubmit)="onSubmit()">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Username" formControlName="username" name="username">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <small class="label label-danger" *ngIf="invalid('username') && f.username.hasError('required')">Username is required</small>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" formControlName="pwd" name="pwd">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <small class="label label-danger" *ngIf="invalid('pwd') && f.pwd.hasError('required')">Password is required</small>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Retype Password" formControlName="cpwd" name="cpwd">
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          <small class="label label-danger" *ngIf="invalid('cpwd') && f.cpwd.hasError('required')">Confirm Password is required</small>
          <small class="label label-danger" *ngIf="invalid('cpwd') && f.cpwd.hasError('wrongpwd')">Password does not match</small>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="First Name" formControlName="first_name" name="first_name">
          <small class="label label-danger" *ngIf="invalid('first_name') && f.first_name.hasError('required')">First name is required</small>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name" name="last_name">
          <small class="label label-danger" *ngIf="invalid('last_name') && f.last_name.hasError('required')">Last name is required</small>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" formControlName="email" name="email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <small class="label label-danger" *ngIf="invalid('email') && f.email.hasError('required')">Email is required</small>
          <small class="label label-danger" *ngIf="invalid('email') && f.email.hasError('email')">Email is invalid</small>
        </div>
        <div class="form-group has-feedback">
          <input type="tel" class="form-control" placeholder="Phone number" formControlName="phone_number" name="phone_number">
          <span class="glyphicon glyphicon-phone form-control-feedback"></span>
        </div>
      </form>

      <div class="overlay" *ngIf="isloading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="mform.invalid">Save</button>
      </div>
    </div>
  </div>
</div>