html, body {
  background-color: #d2d6de;
  min-height: 100vh;
  height: auto;
}

.register-page-1 {
  height: 100vh;
  background-color: #d2d6de;
}

.register-box-1 {
  width: 360px;
  margin: 0 auto;
}