<section class="content-header">
  <h1>View Address Book</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <button type="button" class="btn btn-danger" 
            (click)="onDeleteSelected()" 
            [disabled]="isEmpty(listSelected)"
            *ngIf="!isEmpty(list)">Delete</button>
        </div>
        <div class="box-body">
          <div class="text-center" *ngIf="isEmpty(list)">
            <h4 class="box-title">No records found</h4>
          </div>
          <table class="table table-bordered table-hover" *ngIf="!isEmpty(list)">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" [checked]="selectall" (change)="onChangeSelectAll()" />
                </th>
                <th>Name</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>Postcode</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of list">
                <td>
                  <input type="checkbox" [checked]="o.selected" (change)="onChangeSelect(o)" />
                </td>
                <td>{{ o.full_name }}</td>
                <td>{{ o.address1 }}</td>
                <td>{{ o.address2 }}</td>
                <td>{{ o.postcode }}</td>
                <td>{{ o.city }}</td>
                <td>{{ o.state_province }}</td>
                <td>{{ o.country }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>