<section class="content-header">
  <h1>View Address Book</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="row">
            <div class="col-xs-3">
              <button type="button" class="btn btn-danger" (click)="onDeleteSelected()" [disabled]="isEmpty(listSelected)"
                *ngIf="!isEmpty(list)">Delete</button>
            </div>
            <div class="col-xs-5 col-xs-offset-4">
              <div class="input-group">
                <input type="text" [(ngModel)]="search" (keydown.enter)="onSearchKeypress($event)" name="q" class="form-control"
                  placeholder="Search...">
                <span class="input-group-btn">
                  <button type="button" name="search" class="btn btn-flat" (click)="onSearch()"><i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="box-body">
          <div class="text-center" *ngIf="isEmpty(list)">
            <h4 class="box-title">No records found</h4>
          </div>
          <div class="table-responsive" *ngIf="!isEmpty(list)">
            <table class="table table-bordered table-condensed table-striped table-hover">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" [checked]="selectAll" (change)="onChangeSelectAll()" />
                  </th>
                  <th>
                    <a href="#" (click)="sortBy('full_name')">Name</a> <i *ngIf="sort === 'full_name'" class="fa" 
                      [ngClass]="{'fa-chevron-up': isSortBy('full_name', ''), 'fa-chevron-down': isSortBy('full_name', 'desc')}"></i>
                  </th>
                  <th>
                    <a href="#" (click)="sortBy('address1')">Address 1</a> <i *ngIf="sort === 'address1'" class="fa"
                      [ngClass]="{'fa-chevron-up': isSortBy('address1', ''), 'fa-chevron-down': isSortBy('address1', 'desc')}"></i>
                  </th>
                  <th>
                    <a href="#" (click)="sortBy('address2')">Address 2</a> <i *ngIf="sort === 'address2'" class="fa"
                      [ngClass]="{'fa-chevron-up': isSortBy('address2', ''), 'fa-chevron-down': isSortBy('address2', 'desc')}"></i>
                  </th>
                  <th>
                    <a href="#" (click)="sortBy('postcode')">Postcode</a> <i *ngIf="sort === 'postcode'" class="fa"
                      [ngClass]="{'fa-chevron-up': isSortBy('postcode', ''), 'fa-chevron-down': isSortBy('postcode', 'desc')}"></i>
                  </th>
                  <th>
                    <a href="#" (click)="sortBy('city')">City</a> <i *ngIf="sort === 'city'" class="fa"
                      [ngClass]="{'fa-chevron-up': isSortBy('city', ''), 'fa-chevron-down': isSortBy('city', 'desc')}"></i>
                  </th>
                  <th>
                    <a href="#" (click)="sortBy('state_province')">State</a> <i *ngIf="sort === 'state_province'" class="fa"
                      [ngClass]="{'fa-chevron-up': isSortBy('state_province', ''), 'fa-chevron-down': isSortBy('state_province', 'desc')}"></i>
                  </th>
                  <th>
                    <a href="#" (click)="sortBy('country')">Country</a> <i *ngIf="sort === 'country'" class="fa"
                      [ngClass]="{'fa-chevron-up': isSortBy('country', ''), 'fa-chevron-down': isSortBy('country', 'desc')}"></i>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let o of list">
                  <td>
                    <input type="checkbox" [checked]="o.selected" (change)="onChangeSelect(o)" />
                  </td>
                  <td>{{ o.full_name }}</td>
                  <td>{{ o.address1 }}</td>
                  <td>{{ o.address2 }}</td>
                  <td>{{ o.postcode }}</td>
                  <td>{{ o.city }}</td>
                  <td>{{ o.state_province }}</td>
                  <td>{{ o.country }}</td>
                  <td>
                    <button type="button" class="btn btn-primary" (click)="onEdit(o)">
                      <i class="fa fa-edit"></i> Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="overlay" *ngIf="isloading">
          <i class="fa fa-refresh fa-spin"></i>
        </div>

        <div class="box-footer">
          <div class="pull-right">
            <pagination [totalItems]="itemsCount" [itemsPerPage]="PAGE_SIZE" [(ngModel)]="page" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>