<section class="content-header">
  <h1>
    Create Shipment
  </h1>
</section>

<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Shipper Address</h3>
    </div>

    <form>
      <div class="box-body">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label for="inputEmail3">Customer Reference</label>
            </div>
            <div class="col-xs-8">
              <label for="inputEmail3">Sender name</label>
            </div>
            <div class="col-xs-2">
              <label for="inputEmail3">Office number</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Customer Reference">
            </div>
            <div class="col-xs-8">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Sender name">
            </div>
            <div class="col-xs-2">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Office number">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2">
              <label for="inputEmail3">Origin Add ID</label>
            </div>
            <div class="col-xs-8">
              <label for="inputEmail3">Email</label>
            </div>
            <div class="col-xs-2">
              <label for="inputEmail3">Mobile number</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Origin Add ID">
            </div>
            <div class="col-xs-8">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
            <div class="col-xs-2">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Mobile number">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <label for="inputEmail3">Address 1</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Address 1">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <label for="inputEmail3">Address 2</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Address 2">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <label for="inputEmail3">City</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Postcode</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Country</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="City">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Postcode">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Country">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Receiver Address</h3>
    </div>

    <form>
      <div class="box-body">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label for="inputEmail3">Customer Reference</label>
            </div>
            <div class="col-xs-8">
              <label for="inputEmail3">Receiver name</label>
            </div>
            <div class="col-xs-2">
              <label for="inputEmail3">Office number</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Customer Reference">
            </div>
            <div class="col-xs-8">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Receiver name">
            </div>
            <div class="col-xs-2">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Office number">
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-2">
              <label for="inputEmail3">Destination Add ID</label>
            </div>
            <div class="col-xs-8">
              <label for="inputEmail3">Email</label>
            </div>
            <div class="col-xs-2">
              <label for="inputEmail3">Mobile number</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Destination Add ID">
            </div>
            <div class="col-xs-8">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
            <div class="col-xs-2">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Mobile number">
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-12">
              <label for="inputEmail3">Address 1</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Address 1">
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-12">
              <label for="inputEmail3">Address 2</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Address 2">
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-4">
              <label for="inputEmail3">City</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Postcode</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Country</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="City">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Postcode">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Country">
            </div>
          </div>
        </div>


      </div>
    </form>
  </div>  
  
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Parcel Details</h3>
    </div>
  
    <form>
      <div class="box-body">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-1">
              <label for="inputEmail3">COD</label>
            </div>
            <div class="col-xs-3">
              <label for="inputEmail3">COD Value</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Service Type</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Carton Box Code</label>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-1">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="true">
            </div>
            <div class="col-xs-3">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Express">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="S/M/L/XL">
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-4">
              <label for="inputEmail3">Quantity</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Currency</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Amount</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="MYR">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="MYR">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <label for="inputEmail3">Description</label>
            </div>
            <div class="col-xs-6">
              <label for="inputEmail3">Weight</label>
            </div>
          
          </div>
          <div class="row">
            <div class="col-xs-6">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Description">
            </div>
            <div class="col-xs-6">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Kg">
            </div>
  
  </div>




          <div class="row">
            <div class="col-xs-12">
              <label for="inputEmail3">Address 1</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Address 1">
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-12">
              <label for="inputEmail3">Address 2</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Address 2">
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-4">
              <label for="inputEmail3">City</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Postcode</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Country</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="City">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Postcode">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Country">
            </div>
          </div>
        </div>
  
  
      </div>
    </form>
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Packing List</h3>
    </div>
  
    <form>
      <div class="box-body">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-10">
              <label for="inputEmail3">Description</label>
            </div>
            <div class="col-xs-1">
              <label for="inputEmail3">Weight</label>
            </div>
            <div class="col-xs-1">
              <label for="inputEmail3">Volume</label>
            </div>
            
  
          </div>
          <div class="row">
            <div class="col-xs-10">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="">
            </div>
            <div class="col-xs-1">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Kg">
            </div>
            <div class="col-xs-1">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="m3">
            </div>
            
          </div>
  
          <div class="row">
            <div class="col-xs-4">
              <label for="inputEmail3">Height</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Length</label>
            </div>
            <div class="col-xs-4">
              <label for="inputEmail3">Width</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Height">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Length">
            </div>
            <div class="col-xs-4">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="Width">
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-3">
              <label for="inputEmail3">Currency</label>
            </div>
            <div class="col-xs-3">
              <label for="inputEmail3">Value</label>
            </div>
            <div class="col-xs-3">
              <label for="inputEmail3">Quantity</label>
            </div>
            <div class="col-xs-3">
              <label for="inputEmail3">UOM</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="MYR">
            </div>
            <div class="col-xs-3">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="">
            </div>
            <div class="col-xs-3">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="">
            </div>
            <div class="col-xs-3">
              <input type="Type" class="form-control" id="inputEmail3" placeholder="UOM">
            </div>
          </div>
  
  
          
        </div>
  
  
      </div>
    </form>
  </div>
</section>

