<section class="content-header">
  <h1>{{ title }} Shipment</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
      <button type="button" class="btn btn-default" (click)="onBack()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
    </div>
    <form [formGroup]="mform" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="box-body">
        <div class="callout callout-danger" *ngIf="datax.is_cancel === true">
          <h4>CANCELLED</h4>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Company Account</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Company Account" formControlName="company_account_code"
              name="company_account_code">
          </div>
          <label class="col-sm-2 control-label">Company Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Company Name" formControlName="company_name"
              name="company_name">
          </div>
          <div class="col-sm-2" *ngIf="isView && !datax.is_cancel">
            <button type="button" class="btn btn-default" (click)="onViewTracking()">View Tracking</button>
          </div>
        </div>

        <div class="callout callout-info">
          <h4>Shipment Information</h4>
        </div>

        <div class="form-group" *ngIf="isEdit">
          <label class="col-sm-2 control-label">Consignment No</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" readonly placeholder="Consignment No" formControlName="consignment_no"
              name="consignment_no">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Delivery Service</label>
          <div class="col-sm-4">
            <ng-container *ngIf="isView">
              <input type="text" class="form-control" disabled [value]="service_type">
            </ng-container>
            <ng-container *ngIf="!isView">
              <ng-select 
                [items]="serviceList" 
                bindLabel="service_description" 
                bindValue="service_code"
                placeholder="Please select"
                formControlName="service_type"
                name="service_type"></ng-select>
            </ng-container>
          </div>
          <div class="col-sm-3">
            <label class="control-label">Requested Pickup Date</label><br />
            <i>*This will be the pickup date</i>
          </div>
          
          <div class="col-sm-3">
            <ng-container *ngIf="isView">
              <input type="text" class="form-control" disabled [value]="datax.pickup_date ? datax.pickup_date : ''">
            </ng-container>
            <div class="input-group" *ngIf="!isView">
              <input type="text" class="form-control" formControlName="pickup_date" name="pickup_date" bsDatepicker #dp="bsDatepicker"
                [bsConfig]="{ containerClass: 'theme-blue', dateInputFormat: 'YYYY-MM-DD' }">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Order Reference</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Order Reference" formControlName="customer_reference" 
              name="customer_reference" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger" *ngIf="invalid('customer_reference') && f.customer_reference.hasError('required')">Order Reference is required</small>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="is_insurance" name="is_insurance" [attr.disabled]="isView ? 1 : null"> Additional Insurance Required
              </label>
            </div>
            <i>You will be contacted by our CS /you can call us at 1700-818-369</i>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2">
            <div class="checkbox pull-right" *ngIf="data.is_do">
              <label>
                <input type="checkbox" formControlName="is_do" name="is_do" [attr.disabled]="isView ? 1 : null"> DO Required
              </label>
            </div>
          </div>
          <div class="col-sm-4">
            
          </div>
          <ng-container *ngIf="data.is_cod">
            <div class="col-sm-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="is_cod" name="is_cod" [attr.disabled]="isView ? 1 : null"> COD Required
                </label>
              </div>
            </div>
            <label class="col-sm-2 control-label">COD Value</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="COD Value" formControlName="cod_value" name="cod_value" [attr.disabled]="isView ? 1 : null">
              <small class="label label-danger" *ngIf="invalid('cod_value') && f.cod_value.hasError('required')">COD Value is required</small>
            </div>
          </ng-container>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-4 control-label">*Packaging Type</label>
              <div class="col-sm-8">
                <ng-container *ngIf="isView">
                  <input type="text" class="form-control" disabled [value]="packaging_type">
                </ng-container>
                <ng-container *ngIf="!isView">
                  <ng-select
                    [items]="uomList" 
                    bindLabel="description" 
                    bindValue="code" 
                    placeholder="Please select"
                    formControlName="uom"
                    name="uom"></ng-select>
                  <small class="label label-danger"
                    *ngIf="invalid('uom') && f.uom.hasError('required')">Packaging Type is
                    required</small>
                </ng-container>
              </div>
            </div>
    
            <div class="form-group">
              <label class="col-sm-4 control-label">*Total Package Quantity</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Total Package Quantity" formControlName="total_package_no"
                  name="total_package_no" [attr.disabled]="isView ? 1 : null">
                <small class="label label-danger" *ngIf="invalid('total_package_no') && f.total_package_no.hasError('required')">Total Package Quantity is required</small>
                <small class="label label-danger" *ngIf="invalid('total_package_no') && f.total_package_no.hasError('pattern')">Total Package Quantity is
                  invalid</small>
                <small class="label label-danger" *ngIf="invalid('total_package_no') && f.total_package_no.hasError('max')">Max Total Package Quantity is
                  999</small>
              </div>
            </div>
    
            <div class="form-group">
              <label class="col-sm-4 control-label">*Total Weight (KG)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Total Weight (KG)" formControlName="total_weight"
                  name="total_weight" [attr.disabled]="isView ? 1 : null">
                <small class="label label-danger" *ngIf="invalid('total_weight') && f.total_weight.hasError('required')">Total
                  Weight is required</small>
                <small class="label label-danger" *ngIf="invalid('total_weight') && f.total_weight.hasError('pattern')">Total
                  Weight is invalid</small>
                <small class="label label-danger" *ngIf="invalid('total_weight') && f.total_weight.hasError('max')">Max Total
                  Weight is 9999</small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">Shipping Instruction</label>
              <div class="col-sm-9">
                <textarea class="form-control" formControlName="remark" name="remark" rows="5" cols="20" [attr.readonly]="isView ? 1 : null"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="callout callout-info">
          <h4>Goods Information (Required for Insurance & International Shipment Only)</h4>
        </div>

        <form [formGroup]="gform" class="form-horizontal" *ngIf="!isView">
          <div class="form-group">
            <label class="col-sm-2 control-label">Goods Descriptions</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Goods Descriptions" formControlName="description"
                name="description">
              <small class="label label-danger" 
                *ngIf="invalidg('description') && fg.description.hasError('required')">
                Description is required</small>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Goods Quantity</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Goods Quantity" formControlName="quantity" name="quantity">
              <small class="label label-danger" 
                *ngIf="invalidg('quantity') && fg.quantity.hasError('required')">
                Goods Quantity is required</small>
              <small class="label label-danger" *ngIf="invalidg('quantity') && fg.quantity.hasError('pattern')">Goods Quantity is
                invalid</small>
              <small class="label label-danger" *ngIf="invalidg('quantity') && fg.quantity.hasError('max')">Max Goods Quantity is
                9999</small>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Goods Value</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Goods Value" formControlName="value" name="value">
              <small class="label label-danger" 
                *ngIf="invalidg('value') && fg.value.hasError('required')">
                Goods Value is required</small>
              <small class="label label-danger" *ngIf="invalidg('value') && fg.value.hasError('pattern')">Goods Value is
                invalid</small>
              <small class="label label-danger" *ngIf="invalidg('value') && fg.value.hasError('max')">Max Goods Value is
                99999</small>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label">Goods Currency</label>
            <div class="col-sm-4">
              <ng-select 
                [items]="countryList" 
                bindLabel="currency" 
                bindValue="currency" 
                placeholder="Please select"
                formControlName="currency" 
                name="currency"></ng-select>
            </div>
            <div class="col-sm-6 text-right">
              <button type="button" class="btn btn-default" (click)="onRemoveGoods()" [disabled]="isEmpty(listGood)">Remove Goods</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-default" (click)="onAddGoods()" [disabled]="gform.invalid">Add to Goods</button>
            </div>
          </div>
        </form>

        <div class="table-responsive">
          <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
              <tr>
                <th>Goods Descriptions</th>
                <th class="text-right">Goods Quantity</th>
                <th class="text-right">Goods Value</th>
                <th class="text-center">Goods Currency</th>
                <th class="text-right">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of listGood">
                <td>{{ o.description }}</td>
                <td class="text-right">{{ o.quantity }}</td>
                <td class="text-right">{{ o.value }}</td>
                <td class="text-center">{{ o.currency }}</td>
                <td class="text-right">{{ o.quantity * o.value | currency:' ' }}</td>
                <td>
                  <ng-container *ngIf="!isView">
                    <input type="checkbox" [checked]="o.selected" (change)="onChangeSelect(o)" />
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="callout callout-info">
          <h4>Address Information</h4>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Shipper Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Shipper Name" formControlName="origin_shipper_name"
              name="origin_shipper_name" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('origin_shipper_name') && f.origin_shipper_name.hasError('required')">Shipper Name is required</small>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="*Address 1" formControlName="origin_shipper_address1"
              name="origin_shipper_address1" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('origin_shipper_address1') && f.origin_shipper_address1.hasError('required')">Address 1 is required</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 text-right">
            <a class="btn btn-app" (click)="onGetAddressShipper()">
              <i class="fa fa-address-card"></i> Address Book
            </a>
          </div>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Address 2" formControlName="origin_shipper_address2"
              name="origin_shipper_address2" [attr.disabled]="isView ? 1 : null">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <input type="text" class="form-control" placeholder="*Postcode" formControlName="origin_shipper_postcode"
              name="origin_shipper_postcode" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('origin_shipper_postcode') && f.origin_shipper_postcode.hasError('required')">Postcode is
              required</small>
            <small class="label label-danger" *ngIf="invalid('origin_shipper_postcode') && f.origin_shipper_postcode.hasError('pattern')">Postcode is
              invalid</small>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="*City" formControlName="origin_shipper_city"
              name="origin_shipper_city" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('origin_shipper_city') && f.origin_shipper_city.hasError('required')">City is
              required</small>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <input type="text" class="form-control" placeholder="*State" formControlName="origin_shipper_state_province"
              name="origin_shipper_state_province" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('origin_shipper_state_province') && f.origin_shipper_state_province.hasError('required')">State is
              required</small>
          </div>
          <div class="col-sm-4">
            <ng-container *ngIf="isView">
              <input type="text" class="form-control" disabled [value]="origin_shipper_country">
            </ng-container>
            <ng-container *ngIf="!isView">
              <ng-select
                [items]="countryList" 
                bindLabel="country_name" 
                bindValue="country_code" 
                placeholder="*Please select"
                (change)="onCountryChangeShipper($event)"
                formControlName="origin_shipper_country"
                name="origin_shipper_country"></ng-select>
            </ng-container>
            <small class="label label-danger"
              *ngIf="invalid('origin_shipper_country') && f.origin_shipper_country.hasError('required')">Country is
              required</small>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Shipper Contact Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Shipper Name" formControlName="origin_shipper_contact_name"
              name="origin_shipper_contact_name" [attr.disabled]="isView ? 1 : null">
          </div>
          <label class="col-sm-2 control-label">*Shipper Contact No</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Shipper Contact" formControlName="origin_shipper_phone_no"
              name="origin_shipper_phone_no" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('origin_shipper_phone_no') && f.origin_shipper_phone_no.hasError('required')">Shipper Contact No is required</small>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Shipper Email</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Shipper Email" formControlName="origin_shipper_email"
              name="origin_shipper_email" [attr.disabled]="isView ? 1 : null">
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-sm-2 control-label">*Receiver Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Receiver Name" formControlName="dest_receiver_name"
              name="dest_receiver_name" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('dest_receiver_name') && f.dest_receiver_name.hasError('required')">Receiver Name is required</small>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">*Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="*Address 1" formControlName="dest_receiver_address1"
              name="dest_receiver_address1" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('dest_receiver_address1') && f.dest_receiver_address1.hasError('required')">Address 1 is required</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 text-right">
            <a class="btn btn-app" (click)="onGetAddressReceiver()">
              <i class="fa fa-address-card"></i> Address Book
            </a>
          </div>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Address 2" formControlName="dest_receiver_address2"
              name="dest_receiver_address2" [attr.disabled]="isView ? 1 : null">
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <input type="text" class="form-control" placeholder="*Postcode" formControlName="dest_receiver_postcode"
              name="dest_receiver_postcode" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('dest_receiver_postcode') && f.dest_receiver_postcode.hasError('required')">Postcode is
              required</small>
            <small class="label label-danger" *ngIf="invalid('dest_receiver_postcode') && f.dest_receiver_postcode.hasError('pattern')">Postcode is
              invalid</small>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="*City" formControlName="dest_receiver_city"
              name="dest_receiver_city" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('dest_receiver_city') && f.dest_receiver_city.hasError('required')">City is
              required</small>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <input type="text" class="form-control" placeholder="*State" formControlName="dest_receiver_state_province"
              name="dest_receiver_state_province" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('dest_receiver_state_province') && f.dest_receiver_state_province.hasError('required')">State is
              required</small>
          </div>
          <div class="col-sm-4">
            <ng-container *ngIf="isView">
              <input type="text" class="form-control" disabled [value]="dest_receiver_country">
            </ng-container>
            <ng-container *ngIf="!isView">
              <ng-select 
                [items]="countryList" 
                bindLabel="country_name" 
                bindValue="country_code" 
                placeholder="*Please select"
                (change)="onCountryChangeReceiver($event)" 
                formControlName="dest_receiver_country" 
                name="dest_receiver_country"></ng-select>
              <small class="label label-danger"
                *ngIf="invalid('dest_receiver_country') && f.dest_receiver_country.hasError('required')">Country is
                required</small>
            </ng-container>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">Receiver Contact Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Receiver Name" formControlName="dest_receiver_contact_name"
              name="dest_receiver_contact_name" [attr.disabled]="isView ? 1 : null">
          </div>
          <label class="col-sm-2 control-label">*Receiver Contact No</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Receiver Contact" formControlName="dest_receiver_phone_no"
              name="dest_receiver_phone_no" [attr.disabled]="isView ? 1 : null">
            <small class="label label-danger"
              *ngIf="invalid('dest_receiver_phone_no') && f.dest_receiver_phone_no.hasError('required')">Receiver Contact No is required</small>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Receiver Email</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Receiver Email" formControlName="dest_receiver_email"
              name="dest_receiver_email" [attr.disabled]="isView ? 1 : null">
          </div>
        </div>
      </div>

      <div class="overlay" *ngIf="isloading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>

      <div class="box-footer">
        <div class="row">
          <div class="col-sm-2" *ngIf="isView && allowEdit && !datax.is_cancel">
            <button type="button" class="btn btn-primary btn-edit" (click)="isView = false"><i class="fa fa-edit"></i> Edit</button>
          </div>
          <div class="col-sm-2" *ngIf="isView && allowEdit && !datax.is_cancel">
            <button type="button" class="btn btn-primary" (click)="onCancelShipment()">Cancel Shipment</button>
          </div>
          <div class="col-sm-2" *ngIf="allowEdit && !datax.is_cancel">
            <button type="submit" class="btn btn-primary" [disabled]="mform.invalid || isView"><i class="fa fa-save"></i> Save Changes</button>
          </div>
          <div class="col-sm-2" *ngIf="isEdit && !datax.is_cancel">
            <button type="button" class="btn btn-primary" (click)="onPrintShipment()" [disabled]="isPrintDisabled"><i class="fa fa-print"></i> Print Shipment</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
