<section class="content-header">
  <h1>Create Multiple Shipment</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
      <button type="button" class="btn btn-default" (click)="onBack()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <div class="pull-right">
        <a href="assets/template/UploadOrderMalaysia.csv" target="_blank" class="btn btn-default"><i class="fa fa-download"></i> Download Template</a>
      </div>
    </div>
    <form [formGroup]="mform" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Company Account</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Company Account" formControlName="company_account_code"
              name="company_account_code">
          </div>
          <label class="col-sm-2 control-label">Company Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Company Name" formControlName="company_name"
              name="company_name">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Delivery Service</label>
          <div class="col-sm-4">
            <ng-container *ngIf="isView">
              <input type="text" class="form-control" disabled [value]="service_type">
            </ng-container>
            <ng-container *ngIf="!isView">
              <ng-select 
                [items]="serviceList" 
                bindLabel="service_description" 
                bindValue="service_code"
                placeholder="Please select"
                formControlName="service_type"
                name="service_type"></ng-select>
            </ng-container>
          </div>
          <div class="col-sm-3">
            <label class="control-label">Requested Pickup Date</label><br />
            <i>*This will be the pickup date</i>
          </div>
          
          <div class="col-sm-3">
            <ng-container *ngIf="isView">
              <input type="text" class="form-control" disabled [value]="f.pickup_date.value ? getDateStr(f.pickup_date.value) : ''">
            </ng-container>
            <div class="input-group" *ngIf="!isView">
              <input type="text" class="form-control" formControlName="pickup_date" name="pickup_date" bsDatepicker #dp="bsDatepicker"
                [bsConfig]="{ containerClass: 'theme-blue', dateInputFormat: 'YYYY-MM-DD' }">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Goods Currency</label>
          <div class="col-sm-4">
            <ng-container *ngIf="isView">
              <input type="text" class="form-control" disabled [value]="currency">
            </ng-container>
            <ng-container *ngIf="!isView">
              <ng-select 
                [items]="countryList" 
                bindLabel="currency" 
                bindValue="currency" 
                placeholder="Please select"
                formControlName="currency" 
                name="currency"></ng-select>
            </ng-container>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2">
            <div class="checkbox pull-right" *ngIf="data.is_do">
              <label>
                <input type="checkbox" formControlName="is_do" name="is_do" [attr.disabled]="isView ? 1 : null"> DO Required
              </label>
            </div>
          </div>
          <div class="col-sm-4">
            
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-2 text-right">
            <a class="btn btn-app" (click)="onGetAddressShipper()">
              <i class="fa fa-address-card"></i> Address Book
            </a>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Shipper Name" formControlName="origin_shipper_name"
              name="origin_shipper_name" readonly>
            <label class="control-label">*Shipper</label>
          </div>
        </div>

        <div class="form-group" *ngIf="!isView">
          <label class="col-sm-2 control-label">*Upload Document</label>
          <div class="col-sm-4">
            <input type="file" class="form-control" placeholder="Upload Shipment"
              (change)="onFileChange($event)">
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" [disabled]="mform.invalid">Upload</button>
          </div>
        </div>

        <div class="form-group" *ngIf="!isEmpty(consignment_noList)">
          <div class="col-sm-5 col-sm-offset-2">
            <button type="button" class="btn btn-primary" (click)="onPrintShipment()">Print Shipment</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-5">
            <div class="progress" *ngIf="uploadResponse.status === 'progress'">
              <div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{ 'width': uploadResponse.message + '%' }">
                <span class="sr-only">{{ uploadResponse.message }}% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="overlay" *ngIf="isloading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div *ngIf="uploadResponse.gotError === true" class="callout callout-danger">
      <ng-container *ngFor="let o of uploadResponse.data; let k = index">
        <div *ngFor="let i of o.error" class="alert alert-danger">
          <div *ngFor="let e of i">{{ e }}</div>
        </div>
      </ng-container>
    </div>
  </div>
</section>