<section class="content-header">
  <h1>Dashboard</h1>
</section>
  
<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <span>{{ company_name }}</span>
      <div class="col-xs-9 col-sm-7 col-md-7 pull-right">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="daterx" name="daterx" bsDaterangepicker #dp="bsDaterangepicker"
            placement="bottom"
            (bsValueChange)="onDateChange($event)"
            [bsConfig]="{ containerClass: 'theme-blue', rangeInputFormat: 'YYYY-MM-DD' }">
          <div class="input-group-btn">
            <button class="btn btn-default" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay" *ngIf="isloading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-plus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">NEW</span>
          <span class="info-box-number">{{ data.new }}</span>
          <a href="#" (click)="onKPI(0)">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-truck"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">PENDING</span>
          <span class="info-box-number">{{ data.pending }}</span>
          <a href="#" (click)="onKPI(1)">View</a>
        </div>

      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">DELIVERED</span>
          <span class="info-box-number">{{ data.delivered }}</span>
          <a href="#" (click)="onKPI(2)">View</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-remove"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Cancel</span>
          <span class="info-box-number">{{ data.cancel }}</span>
          <a href="#" (click)="onKPI(3)">View</a>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Company Listing</h3>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Code</th>
            <th>Company Name</th>
            <th>Details</th>
            <th>Dashboard</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of list; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ o.account_code }}</td>
            <td>{{ o.company_name }}</td>
            <td>
              <a href="#" (click)="onViewDetails(o)">View</a>
            </td>
            <td>
              <a href="#" (click)="onViewDashboard(o)">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box-footer" *ngIf="itemsCount">
      <div class="pull-right">
        <pagination [totalItems]="itemsCount" [itemsPerPage]="PAGE_SIZE" [maxSize]="MAX_PAGE_NUMBERS" [(ngModel)]="page" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </div>
</section>