<section class="content-header">
    <h1>Shipment Details</h1>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <button type="button" class="btn btn-default" (click)="onBack()">
          <i class="fa fa-chevron-left"></i> Back
        </button>
      </div>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Company Account</label>
          <div class="col-sm-4">
            <div class="form-control-static">company_account_code</div>
          </div>
          <label class="col-sm-2 control-label">Company Name</label>
          <div class="col-sm-4">
            <div class="form-control-static">company_name</div>
          </div>
        </div>

        <div class="callout callout-info">
          <h4>Shipment Information</h4>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Delivery Service</label>
          <div class="col-sm-4">
            <div class="form-control-static">service_type</div>
          </div>
          <div class="col-sm-3">
            <label class="control-label">Requested Pickup Date</label><br />
            <i>*This will be the pickup date</i>
          </div>
          
          <div class="col-sm-3">
            <div class="form-control-static">pickup_date</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Order Reference</label>
          <div class="col-sm-4">
            <div class="form-control-static">customer_reference</div>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label>
                <i class="fa fa-check"></i> Additional Insurance Required
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Packaging Type</label>
          <div class="col-sm-4">
            <div class="form-control-static">uom</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Total Package Quantity</label>
          <div class="col-sm-4">
            <div class="form-control-static">total_package_no</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">*Total Weight (KG)</label>
          <div class="col-sm-4">
            <div class="form-control-static">total_weight</div>
          </div>
        </div>

        <div class="callout callout-info">
          <h4>Goods Information</h4>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
              <tr>
                <th>Goods Descriptions</th>
                <th class="text-right">Goods Quantity</th>
                <th class="text-right">Goods Value</th>
                <th class="text-center">Goods Currency</th>
                <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of listGood">
                <td>{{ o.description }}</td>
                <td class="text-right">{{ o.quantity }}</td>
                <td class="text-right">{{ o.value }}</td>
                <td class="text-center">{{ o.currency }}</td>
                <td class="text-right">{{ o.quantity * o.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="callout callout-info">
          <h4>Address Information</h4>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Shipper Name</label>
          <div class="col-sm-4">
            <div class="form-control-static">origin_shipper_name</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <div class="form-control-static">origin_shipper_address1</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="form-control-static">origin_shipper_address2</div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <div class="form-control-static">origin_shipper_postcode</div>
          </div>
          <div class="col-sm-4">
            <div class="form-control-static">origin_shipper_city</div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <div class="form-control-static">origin_shipper_state_province</div>
          </div>
          <div class="col-sm-4">
            <div class="form-control-static">origin_shipper_country</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Shipper Contact Name</label>
          <div class="col-sm-4">
            <div class="form-control-static">origin_shipper_contact_name</div>
          </div>
          <label class="col-sm-2 control-label">Shipper Contact</label>
          <div class="col-sm-4">
            <div class="form-control-static">origin_shipper_phone_no</div>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-sm-2 control-label">Receiver Name</label>
          <div class="col-sm-4">
            <div class="form-control-static">dest_receiver_name</div>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <div class="form-control-static">dest_receiver_address1</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <div class="form-control-static">dest_receiver_address2</div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <div class="form-control-static">dest_receiver_postcode</div>
          </div>
          <div class="col-sm-4">
            <div class="form-control-static">dest_receiver_city</div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <div class="form-control-static">dest_receiver_state_province</div>
          </div>
          <div class="col-sm-4">
            <div class="form-control-static">dest_receiver_country</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Receiver Contact Name</label>
          <div class="col-sm-4">
            <div class="form-control-static">dest_receiver_contact_name</div>
          </div>
          <label class="col-sm-2 control-label">Receiver Contact</label>
          <div class="col-sm-4">
            <div class="form-control-static">dest_receiver_phone_no</div>
          </div>
        </div>
      </form>
  
      <div class="overlay" *ngIf="isloading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
  
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary">Print Shipment</button>
          </div>
        </div>
      </div>
    </div>
  </section>