<div class="wrapper">
  <header class="main-header">
    <a routerLink="/cit/dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b></b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <img src="assets/img/FMXLOGO.png" alt="logo_image" style="width: 100px; margin-left: 45px;">
      </span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">{{ data.first_name}}&nbsp;{{ data.last_name }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <p>
                  {{ data.first_name }}&nbsp;{{ data.last_name }} - {{ data.display_name }}
                  <small>{{ data.email }}</small>
                  <small>{{ data.phone_number }}</small>
                  <small><b>{{ user.role }}</b></small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">

              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="text-center">
                  <a href="#" (click)="logout()" class="btn btn-danger btn-flat btn-block"><i class="fa fa-sign-out"></i> Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li [ngClass]="{'active': menu === 'dashboard'}">
          <a href="#" (click)="goto('dashboard', 'dashboard')">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li [ngClass]="{'active': menu === 'user-profile'}">
          <a href="#" (click)="goto('user-profile', 'user-profile')">
            <i class="fa fa-user-circle-o"></i> <span>User Profile</span>
          </a>
        </li>
        <li [ngClass]="{'active': menu === 'shipment'}">
          <a href="#" (click)="goto('shipment', 'shipment/list')">
            <i class="fa fa-user-circle-o"></i> <span>Shipment</span>
          </a>
        </li>
        <li [ngClass]="{'active': menu === 'manifest'}">
          <a href="#" (click)="goto('manifest', 'manifest/list')">
            <i class="fa fa-file-text"></i> <span>Manifest</span>
          </a>
        </li>
        
        <!-- <li class="treeview" [ngClass]="{'active': menu === 'shipment'}">
          <a href="#">
            <i class="fa fa-truck"></i> <span>Shipment</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li [ngClass]="{'active': menu === 'shipment-create'}"><a href="#" (click)="goto('shipment-create', 'shipment/create')"><i class="fa fa-barcode"></i> Create New Shipment</a></li>
            <li><a href="#"><i class="fa fa-list-alt"></i> Shipment List</a></li>
            <li><a href="#"><i class="fa fa-upload"></i> Upload Bulk Shipment</a></li>
            <li><a href="#"><i class="fa fa-edit"></i> Edit Shipment</a></li>
          </ul>
        </li> -->

        <li class="treeview" [ngClass]="{'active': address_book === true}">
          <a href="#" (click)="onAddressBookClick()">
            <i class="fa fa-address-book"></i> <span>Address Book</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li [ngClass]="{'active': menu === 'address-book-create'}"><a href="#"
                (click)="goto('address-book-create', 'address-book/create')"><i class="fa fa-address-card"></i> Create New Address Book</a></li>
            <li [ngClass]="{'active': menu === 'address-book-list'}"><a href="#"
                (click)="goto('address-book-list', 'address-book/list')"><i class="fa fa-list-alt"></i> Address Book List</a></li>
          </ul>
        </li>

        <li [ngClass]="{'active': menu === 'company'}" *ngIf="user.role !== ROLE.USER">
          <a href="#" (click)="goto('company-list', 'company/list')">
            <i class="fa fa-user-circle-o"></i> <span>Company</span>
          </a>
        </li>

        <li class="treeview" [ngClass]="{'active': retail_ops === true}">
          <a href="#" (click)="onRetailOpsClick()">
            <i class="fa fa-shopping-bag"></i> <span>Retail Ops</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li [ngClass]="{'active': menu === 'retail-ops-retail-inbound'}"><a href="#"
                (click)="goto('retail-ops-retail-inbound', 'retail-ops/retail-inbound')"><i class="fa fa-shopping-bag"></i> Retail Inbound</a></li>
            <li [ngClass]="{'active': menu === 'retail-ops-loadsheet'}"><a href="#"
                (click)="goto('retail-ops-loadsheet', 'retail-ops/loadsheet')"><i class="fa fa-list-alt"></i> Loadsheet</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer class="main-footer">
    <p class="copyright pull-right">© 2019 <a href="#" style="color: rgb(0, 82, 155);">FMX</a>,
      Delivering Perfection</p>
    <div style="color: white">&nbsp;&nbsp;</div>
  </footer>
</div>