<section class="content-header">
  <h1>Shipment</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header"></div>
    <div class="box-body">
      <a class="btn btn-app bg-black">
        <i class="fa fa-list"></i> Shipment Listing
      </a>
      <a class="btn btn-app" href="#" (click)="goto('/cit/shipment/create')">
        <i class="fa fa-cube"></i> Create Single Shipment
      </a>
      <a class="btn btn-app" href="#" (click)="goto('/cit/shipment/create/multiple')">
        <i class="fa fa-cubes"></i> Create Multiple Shipment
      </a>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-sm-offset-7 col-md-offset-7">
          <div class="input-group">
            <input type="text" [(ngModel)]="search" (keydown.enter)="onSearchKeypress($event)" name="q" class="form-control"
              placeholder="Search...">
            <span class="input-group-btn">
              <button type="button" name="search" class="btn btn-flat" (click)="onSearch()"><i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="text-center" *ngIf="isEmpty(list)">
        <h4 class="box-title">No records found</h4>
      </div>
      <div class="table-responsive" *ngIf="!isEmpty(list)">
        <table class="table table-bordered table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">
                <a href="#" (click)="sortBy('create_date')">Created Date</a> <i *ngIf="sort === 'create_date'" class="fa"
                  [ngClass]="{'fa-chevron-up': isSortBy('create_date', ''), 'fa-chevron-down': isSortBy('create_date', 'desc')}"></i>
              </th>
              <th>
                <a href="#" (click)="sortBy('consignment_no')">Consignment Number</a> <i *ngIf="sort === 'consignment_no'" class="fa"
                  [ngClass]="{'fa-chevron-up': isSortBy('consignment_no', ''), 'fa-chevron-down': isSortBy('consignment_no', 'desc')}"></i>
              </th>
              <th>
                <a href="#" (click)="sortBy('customer_reference')">Order Ref</a> <i *ngIf="sort === 'customer_reference'" class="fa"
                  [ngClass]="{'fa-chevron-up': isSortBy('customer_reference', ''), 'fa-chevron-down': isSortBy('customer_reference', 'desc')}"></i>
              </th>
              <th>
                <a href="#" (click)="sortBy('service_type')">Delivery Service</a> <i *ngIf="sort === 'service_type'" class="fa"
                  [ngClass]="{'fa-chevron-up': isSortBy('service_type', ''), 'fa-chevron-down': isSortBy('service_type', 'desc')}"></i>
              </th>
              <th>
                <a href="#" (click)="sortBy('dest_receiver_name')">Receiver Name</a> <i *ngIf="sort === 'dest_receiver_name'" class="fa"
                  [ngClass]="{'fa-chevron-up': isSortBy('dest_receiver_name', ''), 'fa-chevron-down': isSortBy('dest_receiver_name', 'desc')}"></i>
              </th>
              <th>
                Status
              </th>
              <th>
                <a href="#" (click)="sortBy('dest_receiver_city')">Receiver City <i *ngIf="sort === 'dest_receiver_city'" class="fa"
                  [ngClass]="{'fa-chevron-up': isSortBy('dest_receiver_city', ''), 'fa-chevron-down': isSortBy('dest_receiver_city', 'desc')}"></i></a>
              </th>
              <th>
                <a href="#" (click)="sortBy('account_code')">Account Code <i *ngIf="sort === 'account_code'" class="fa"
                  [ngClass]="{'fa-chevron-up': isSortBy('account_code', ''), 'fa-chevron-down': isSortBy('account_code', 'desc')}"></i></a>
              </th>
              <th>
                <a href="#" (click)="sortBy('packaging_type')">Packaging Type <i *ngIf="sort === 'packaging_type'" class="fa"
                  [ngClass]="{'fa-chevron-up': isSortBy('packaging_type', ''), 'fa-chevron-down': isSortBy('packaging_type', 'desc')}"></i></a>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of list">
              <td class="text-center">{{ o.created_date }}</td>
              <td>{{ o.consignment_no }}</td>
              <td>{{ o.customer_reference }}</td>
              <td>{{ o.service_type }}</td>
              <td>{{ o.dest_receiver_name }}</td>
              <td class="text-uppercase">{{ o.status }}</td>
              <td>{{ o.dest_receiver_city }}</td>
              <td>{{ o.account_code }}</td>
              <td>{{ o.packaging_type }}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="onEdit(o)">
                  <i class="fa fa-edit"></i> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="overlay" *ngIf="isloading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-footer">
      <div class="pull-right" *ngIf="itemsCount">
        <pagination [totalItems]="itemsCount" [itemsPerPage]="PAGE_SIZE" [maxSize]="MAX_PAGE_NUMBERS" [(ngModel)]="page" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </div>
</section>