<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="mform" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Email Address</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" placeholder="Email Address" formControlName="email" name="email" [readonly]="edit">
        <small class="label label-danger" *ngIf="invalid('email') && f.email.hasError('required')">Email Address is required</small>
        <small class="label label-danger" *ngIf="invalid('email') && f.email.hasError('email')">Email Address is invalid</small>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">User Type</label>
      <div class="col-sm-9">
        <select class="form-control" formControlName="user_type" name="user_type">
          <option value="USER">USER</option>
          <option value="SUPERUSER">SUPERUSER</option>
          <option value="ADMIN" *ngIf="user.role === ROLE.ADMIN">ADMIN</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button *ngIf="edit && canEdit && type === 0" type="button" class="btn btn-primary" (click)="onConfirm()">Confirm</button>
  <button *ngIf="edit && canEdit && type === 2" type="button" class="btn btn-danger" (click)="onActivate()">Activate</button>
  <button *ngIf="edit && canEdit && type === 1" type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  <button *ngIf="edit && canEdit && type === 0" type="button" class="btn btn-danger" (click)="onDeactivate()">Deactivate</button>
  <button *ngIf="!edit" type="button" class="btn btn-primary" (click)="onAssign()" [disabled]="mform.invalid">Assign</button>
</div>