<section class="content-header">
  <div class="row">
    <div class="col-xs-3">
      <button type="button" class="btn btn-default" (click)="onBack()">
        <i class="fa fa-arrow-left"></i> Back
      </button>
    </div>
  </div>
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Consignment Information</h3>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>Consignment Note</th>
            <th>Customer Ref</th>
            <th>Weight (KG)</th>
            <th>Receive By</th>
            <th>Receive at</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MXS44555</td>
            <td>449987654</td>
            <td>1.10</td>
            <td>Ahmad</td>
            <td>Office</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Receiver Information</h3>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td></td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td></td>
              </tr>
              <tr>
                <td>Address</td>
                <td></td>
              </tr>
              <tr>
                <td>Email</td>
                <td></td>
              </tr>
              <tr>
                <td>Postcode</td>
                <td></td>
              </tr>
              <tr>
                <td>Country</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Shipper Information</h3>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td></td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td></td>
              </tr>
              <tr>
                <td>Address</td>
                <td></td>
              </tr>
              <tr>
                <td>Email</td>
                <td></td>
              </tr>
              <tr>
                <td>Postcode</td>
                <td></td>
              </tr>
              <tr>
                <td>Country</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Tracking Information</h3>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Location</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MXS44555</td>
            <td>449987654</td>
            <td>1.10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Proof Of Delivery (POD)</h3>
        </div>
        <div class="box-body">
          <img class="img-responsive pad" src="assets/img/photo1.png">
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Delivery Order (DO)</h3>
        </div>
        <div class="box-body">
          <img class="img-responsive pad" src="assets/img/photo1.png">
        </div>
      </div>
    </div>
  </div>
</section>