<section class="content-header">
  <div class="row">
    <div class="col-xs-3">
      <button type="button" class="btn btn-default" (click)="onBack()">
        <i class="fa fa-arrow-left"></i> Back
      </button>
    </div>
  </div>
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Consignment Information</h3>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>Consignment Note</th>
            <th>Customer Ref</th>
            <th>Weight (KG)</th>
            <th>Receive By</th>
            <th>Receive at</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of list">
            <td>{{ o.consignment_note }}</td>
            <td>{{ o.cRef1 }}</td>
            <td>{{ o.weight }}</td>
            <td>{{ o.rc_name }}</td>
            <td>{{ o.rc_location }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Receiver Information</h3>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{ data.cn_name }}</td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td>{{ data.cn_MobileNo }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td class="text-center">{{ data.cn_Address1 }}&nbsp;{{ data.cn_Address2 }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ data.cn_Email }}</td>
              </tr>
              <tr>
                <td>Postcode</td>
                <td>{{ data.cn_ZipCode }}</td>
              </tr>
              <tr>
                <td>Country</td>
                <td>{{ cn_CountryCode }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Shipper Information</h3>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{ data.sh_name }}</td>
              </tr>
              <tr>
                <td>Mobile</td>
                <td>{{ data.sh_MobileNo }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{ data.sh_Address1 }}&nbsp;{{ data.sh_Address2 }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ data.sh_Email }}</td>
              </tr>
              <tr>
                <td>Postcode</td>
                <td>{{ data.sh_ZipCode }}</td>
              </tr>
              <tr>
                <td>Country</td>
                <td>{{ data.sh_CountryCode }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Tracking Information</h3>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>Time</th>
            <th>Location</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of list_tracking">
            <td>{{ o.dateTime }}</td>
            <td>{{ o.Location }}</td>
            <td>{{ o.Description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Proof Of Delivery (POD)</h3>
        </div>
        <div class="box-body">
          <img class="img-responsive pad" src="http://citflask.fmx.asia//dashboard/image/MYX1028081880">
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Delivery Order (DO)</h3>
        </div>
        <div class="box-body">
          <img class="img-responsive pad" src="http://citflask.fmx.asia//dashboard/image/do/MYX1028081880">
        </div>
      </div>
    </div>
  </div>
</section>