<section class="content-header">
  <h1>Company Profile</h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"></h3>
      <button type="button" class="btn btn-default" (click)="onBack()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
    </div>
    <form [formGroup]="mform" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">Company Account</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Company Account" formControlName="company_account_code"
              name="company_account_code" [readonly]="!canEdit" [attr.disabled]="isView ? 1 : null">
          </div>
          <label class="col-sm-2 control-label">PIC Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="PIC Name" formControlName="company_pic_full_name"
              name="company_pic_full_name" readonly [attr.disabled]="isView ? 1 : null">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Company Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Company Name" formControlName="company_name"
              name="company_name" [readonly]="!canEdit" [attr.disabled]="isView ? 1 : null">
          </div>
          <label class="col-sm-2 control-label">PIC Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" placeholder="PIC Email" formControlName="company_pic_email"
              name="company_pic_email" readonly [attr.disabled]="isView ? 1 : null">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Company Code</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Company Code" formControlName="company_code"
              name="company_code" [readonly]="!canEdit" [attr.disabled]="isView ? 1 : null">
          </div>
          <label class="col-sm-2 control-label">PIC Number</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" placeholder="PIC Number" formControlName="company_pic_phone_number"
              name="company_pic_phone_number" readonly [attr.disabled]="isView ? 1 : null">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Company Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Address 1" formControlName="company_address1"
              name="company_address1" readonly [attr.disabled]="isView ? 1 : null">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 text-right">
            <a class="btn btn-app" (click)="onGetAddress()" *ngIf="canEdit">
              <i class="fa fa-address-card"></i> Address Book
            </a>
          </div>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Address 2" formControlName="company_address2"
              name="company_address2" readonly [attr.disabled]="isView ? 1 : null">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <input type="text" class="form-control" placeholder="Postcode" formControlName="company_postcode"
              name="company_postcode" readonly [attr.disabled]="isView ? 1 : null">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <input type="text" class="form-control" placeholder="City" formControlName="company_city"
              name="company_city" readonly [attr.disabled]="isView ? 1 : null">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <input type="text" class="form-control" placeholder="State" formControlName="company_state_province"
              name="company_state_province" readonly [attr.disabled]="isView ? 1 : null">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <ng-container *ngIf="">
              <input type="text" class="form-control" disabled [value]="country" />
            </ng-container>
            <ng-container *ngIf="!isView">
              <ng-select 
                [items]="countryList" 
                bindLabel="country_name" 
                bindValue="country_code" 
                placeholder="Please select"
                (change)="onCountryChange()" 
                formControlName="company_country" 
                name="company_country"></ng-select>
            </ng-container>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Services</label>
          <div class="col-sm-8 table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Service Code</th>
                  <th>Service Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let o of data.company_service_list">
                  <td>{{ o.service_code }}</td>
                  <td>{{ o.service_description }}</td>
                  <td>
                    <input type="checkbox" [checked]="o.selected" (change)="onChangeSelect(o)" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group" *ngIf="!isView">
          <div class="col-sm-offset-2 col-sm-3">
            <ng-select 
              [items]="serviceList" 
              bindLabel="description" 
              placeholder="Please select"
              [(ngModel)]="service" 
              [ngModelOptions]="{standalone: true}"></ng-select>
          </div>
          <div class="col-sm-5">
            <button type="button" class="btn btn-default" (click)="addService()" [disabled]="isEmpty(service) || !canEdit">Add to Service</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="removeService()" [disabled]="isEmpty(data.company_service_list) || !canEdit">Remove Service</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="is_do" name="is_do"  [attr.disabled]="canEdit && !isView ? null : 1"> DO Required
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="is_cod" name="is_cod"  [attr.disabled]="canEdit && !isView ? null : 1"> COD Enabled
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Parent Company</label>
          <div class="col-sm-4">
            <ng-container *ngIf="isView">
              <input type="text" class="form-control" disabled [value]="parent_company">
            </ng-container>
            <ng-container *ngIf="!isView">
              <ng-select 
                [items]="companyList" 
                bindLabel="company_name" 
                bindValue="account_code"
                placeholder="Please select"
                (change)="onParentCompanyChange()" 
                formControlName="parent_company_account_code"
                name="parent_company_account_code"></ng-select>
            </ng-container>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Consignment Print Default</label>
          <div class="col-sm-1">
            <div class="radio">
              <label>
                <input type="radio" formControlName="cdefault" name="cdefault" value="A4" [attr.disabled]="canEdit && !isView ? null : 1"> A4
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="radio">
              <label>
                <input type="radio" formControlName="cdefault" name="cdefault" value="Shipping_Label" [attr.disabled]="canEdit && !isView ? null : 1"> Shipping Label
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="overlay" *ngIf="isloading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>

      <div class="box-footer" *ngIf="canEdit">
        <div class="pull-right">
          <button type="button" class="btn btn-primary btn-edit" (click)="isView = false" *ngIf="isView">Edit</button>
          <button type="submit" class="btn btn-primary" [disabled]="mform.invalid">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</section>