body, html {
  height: 100%;
}

.box {
  width: 340px;
  margin: 200px auto;
}

.login-form {
  width: 340px;
  margin: 40px auto;
}

.login-form form {
  margin-bottom: 15px;
  background: rgba(245, 245, 245, 0.9);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 20px;
}

.login-form h2 {
  margin: 0 0 15px;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {        
  font-size: 15px;
  font-weight: bold;
}

.bg {
  background: url('/assets/img/a5.jpg') no-repeat center center fixed;
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  width: 269px;
  height: 134px;
}