<div class="wrapper">
  <div class="container-fluid bg">
    <div class="login-form container">
      <form [formGroup]="mform" (ngSubmit)="onSubmit()">
        <div>
          <img src="assets/img/FMXLOGO.png" style="width: 269px; height: 134px" />
        </div>
        <div class="form-group">
          <label class="control-label">Email:</label>
          <input type="text" class="form-control" name="email" placeholder="Email" required formControlName="email">
        </div>
        <div class="form-group">
          <label class="control-label">Password:</label>
          <input type="password" class="form-control" name="pwd" placeholder="Password" required formControlName="pwd">
        </div>
        <div class="form-group">
          <label class="control-label">Confirm Password:</label>
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cpwd">
          <small class="label label-danger" *ngIf="invalid('cpwd') && f.cpwd.hasError('required')">Confirm Password is required</small>
          <small class="label label-danger" *ngIf="invalid('cpwd') && f.cpwd.hasError('wrongpwd')">Password does not match</small>
        </div>
        <div class="form-group">
          <button
            style="border-radius: 20px; color: rgb(255, 255, 255); border-color: rgb(0, 82, 155);"
            [disabled]="invalid('email') || invalid('password')"
            type="submit" class=" btn-block btn btn-primary">Submit</button>
        </div>
        <div class="clearfix">

        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</div>