<div class="wrapper">
  <div class="container-fluid bg">
    <div class="box container" *ngIf="isView">
      <div>
        <img src="assets/img/FMXLOGO.png" style="width: 269px; height: 134px" />
      </div>
      <div class="text-center">
        <a routerLink="/login"
          style="color: rgb(255, 255, 255);"
          class="btn-block btn btn-success">Proceed to Login</a>
      </div>
    </div>
    <div class="login-form container" *ngIf="!isView">
      <form [formGroup]="mform" (ngSubmit)="onSubmit()">
        <div>
          <img src="assets/img/FMXLOGO.png" style="width: 269px; height: 134px" />
        </div>
        <div class="form-group">
          <label class="control-label">Password:</label>
          <input type="password" class="form-control" name="pwd" placeholder="Password" required formControlName="pwd">
        </div>
        <div class="form-group">
          <label class="control-label">Confirm Password:</label>
          <input type="password" class="form-control" name="cpwd" placeholder="Confirm Password" formControlName="cpwd">
          <small class="label label-danger" *ngIf="invalid('cpwd') && f.cpwd.hasError('required')">Confirm Password is required</small>
          <small class="label label-danger" *ngIf="invalid('cpwd') && f.cpwd.hasError('wrongpwd')">Password does not match</small>
        </div>
        <div class="form-group">
          <button
            style="border-radius: 20px; color: rgb(255, 255, 255); border-color: rgb(0, 82, 155);"
            [disabled]="invalid('pwd') || invalid('cpwd')"
            type="submit" class="btn-block btn btn-primary">Submit</button>
        </div>
        <div class="clearfix">

        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</div>